html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#chess-board div {
    display: flex;
    aspect-ratio: 1 / 1;
}

.dark {
    background-color: #46494C;
}

.white {
    background-color: #C5C3C6;
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1 / 1;
    width: min(320px, 800px);
    margin: 0 auto;

    border: solid 10px #804f4fdc;
    position: relative;
    overflow: hidden;

}

.piece {
    position: absolute;
    width: calc(10% + 5px);
    /* display: inline-block; */
    /* transform: translate(0px, 0px); */
    transition: transform 0.3s ease-out; /* Hace el movimiento suave */

}

.piece img {
    display: flex;
    width: 100%;
    margin-left: calc(5%);
    margin-top: 5px;
}

#volumeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

#volumeIcon {
  width: 32px;
  height: 32px;
}


/* .piece img {
    display: flex;
    justify-self: center;
} */

/* position: absolute; */
/* transform: translate(0px, 0px); */
/* transition: transform 0.3s ease-out;  */
/* Hace el movimiento suave */


footer {
    margin-top: 30px;
}